In [1]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

## Import Data

In [2]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

--2023-01-24 09:29:07--  https://cdn.freecodecamp.org/project-data/books/book-crossings.zip
Resolving cdn.freecodecamp.org (cdn.freecodecamp.org)... 104.26.3.33, 104.26.2.33, 172.67.70.149, ...
Connecting to cdn.freecodecamp.org (cdn.freecodecamp.org)|104.26.3.33|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26085508 (25M) [application/zip]
Saving to: ‘book-crossings.zip’

book-crossings.zip  100%[===================>]  24.88M   840KB/s    in 16s

2023-01-24 09:29:23 (1.52 MB/s) - ‘book-crossings.zip’ saved [26085508/26085508]

Archive:  book-crossings.zip
  inflating: BX-Book-Ratings.csv
  inflating: BX-Books.csv
  inflating: BX-Users.csv

In [195]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [79]:
df_books.shape

(271379, 3)

In [80]:
df_ratings.shape

(1149780, 3)

In [5]:
df_books.head()

,isbn,title,author
0,0195153448,Classical Mythology,Mark P. O. Morford
1,0002005018,Clara Callan,Richard Bruce Wright
2,0060973129,Decision in Normandy,Carlo D'Este
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
4,0393045218,The Mummies of Urumchi,E. J. W. Barber

In [6]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [ ]:
# add your code here - consider creating a new cell for each section of code

## Clean Data

### Remove 'orphan' ratings

Some of the ratings don't have a corresponding book record.

_Note:_ I successfully removed them, but it ended up changing the recommendations and causing the test function to fail.

In [241]:
# left join the tables so we can find out which ratings don't have a corresponding book record
df_ratings = df_ratings.merge(df_books, on='isbn', how='left', indicator=True)

In [242]:
df_ratings.head()

,user,isbn,rating,title,author,_merge
0,276725,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,both
1,276726,0155061224,5.0,Rites of Passage,Judith Rae,both
2,276727,0446520802,0.0,The Notebook,Nicholas Sparks,both
3,276729,052165615X,3.0,Help!: Level 1,Philip Prowse,both
4,276729,0521795028,6.0,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,both

df_ratings._merge.value_counts()

So we have 118,605 ratings without a corresponding book & title.

df_ratings.shape

df_ratings = df_ratings[df_ratings['_merge'] == 'both'].drop(columns='_merge')

df_ratings.shape

df_ratings['user'].nunique()

### Remove ratings for users with <200 and books with <100

In [196]:
# try same thing with a mask
user_mask = df_ratings.groupby('user')['rating'].transform('size') >= 200
book_mask = df_ratings.groupby('isbn')['rating'].transform('size') >= 100
df_ratings_4 = df_ratings[user_mask & book_mask]

In [197]:
df_ratings_4.shape

(49781, 3)

In [198]:
df_ratings_4['isbn'].nunique()

731

In [199]:
df_ratings_4['user'].nunique()

888

### Check for duplicate book titles

In [240]:
df_books.duplicated('title').sum()

29225

## Build and train the model

In [200]:
# shape the data into a matrix with rows for books and columns for users
df_pivot = df_ratings_4.pivot(index='isbn', columns='user', values='rating').fillna(0)
df_pivot.head()

user,254,2276,2766,2977,3363,4017,4385,6242,6251,6323,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
isbn,,,,,,,,,,,,,,,,,,,,,
002542730X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
0060008032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060096195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
006016848X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0060173289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [201]:
# Create a sparse matrix
ratings_matrix = csr_matrix(df_pivot.values)

In [202]:
# create the model
model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=5)

In [203]:
# fit the model
model.fit(ratings_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

## Model2: deduplicate movies

In [ ]:
# join books to add the title to the ratings table
# remove those without matches
# pivot_table with movie title as the index and userid as the columns, and mean as the aggfunc

## Mapping between movie title and index

We need to be able to...

1. map from a movie title we want recommendations for
2. map from indexes returned back to movie titles

How?

1. take index from the pivot and join to movies
2. set title to isbn for those without a match
3. use enumerate to create a map like `{'movie_title': index}`

In [256]:
# get pivot index
isbn_index = df_pivot.index.to_frame().drop(columns='isbn')

In [258]:
df_map = isbn_index.merge(df_books, how='left', on='isbn', indicator=True)

In [259]:
df_map.head()

,isbn,title,author,_merge
0,002542730X,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,both
1,0060008032,Angels,Marian Keyes,both
2,0060096195,The Boy Next Door,Meggin Cabot,both
3,006016848X,"Men Are from Mars, Women Are from Venus: A Pra...",John Gray,both
4,0060173289,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,both

In [260]:
df_map._merge.value_counts()

both          727
left_only       4
right_only      0
Name: _merge, dtype: int64

In [270]:
df_map[df_map['title'].isna()]

           isbn title author     _merge
42   0091867770   NaN    NaN  left_only
523  0552124753   NaN    NaN  left_only
642  0679781587   NaN    NaN  left_only
673  0749397543   NaN    NaN  left_only

In [299]:
# check duplicated titles
print(f'found {df_map.duplicated("title").sum()} duplicated titles')
df_map[df_map.duplicated('title', keep=False)]

found 54 duplicated titles

,isbn,title,author,_merge
11,0060915544,The Bean Trees,Barbara Kingsolver,both
34,0061097314,The Bean Trees,Barbara Kingsolver,both
54,014028009X,Bridget Jones's Diary,Helen Fielding,both
55,0140293248,The Girls' Guide to Hunting and Fishing,Melissa Bank,both
58,014100018X,Chocolat,Joanne Harris,both
...,...,...,...,...
667,074343627X,Dreamcatcher,Stephen King,both
671,0743460529,Daddy's Little Girl,Mary Higgins Clark,both
672,0743467523,Dreamcatcher,Stephen King,both
678,076790592X,"Tuesdays with Morrie: An Old Man, a Young Man,...",Mitch Albom,both
696,0804114986,The Bonesetter's Daughter,Amy Tan,both

In [276]:
# set empty titles to the isbn
mask = df_map['title'].isna()
df_map.loc[mask, 'title'] = df_map.loc[mask, 'isbn']

In [277]:
mapper = df_map['title'].to_dict()

In [279]:
reverse_mapper = {v: k for k, v in mapper.items()}

In [281]:
reverse_mapper['The Boy Next Door']

2

In [290]:
df_map[df_map.title == 'The Golden Compass (His Dark Materials, Book 1)']

,isbn,title,author,_merge
163,0345413350,"The Golden Compass (His Dark Materials, Book 1)",PHILIP PULLMAN,both

In [283]:
# def get_isbn(book_name):
#     return df_books[df_books['title'] == book_name].iloc[0]['isbn']

# def get_index(isbn):
#     return df_pivot.index.get_loc(isbn)

# def get_name(index):
#     isbn = df_pivot.index[index]
#     return df_books[df_books['isbn'] == isbn]['title'].item()

def get_name(index):
    return mapper[index]

def get_index(name):
    return reverse_mapper[name]

In [169]:
isbn = get_isbn("Where the Heart Is (Oprah's Book Club (Paperback))")
idx = get_index(isbn)
print(f'isbn: {isbn}, index: {idx}')

isbn: 0446672211, index: 434

In [131]:
for i, isbn in enumerate(df_pivot.index):
    print(f'{i}: {isbn}')

0: 002542730X
1: 0060008032
2: 0060096195
3: 006016848X
4: 0060173289
5: 0060175400
6: 006019491X
7: 0060199652
8: 0060391626
9: 0060392452
10: 0060502258
11: 0060915544
12: 0060916508
13: 0060921145
14: 0060922532
15: 0060928336
16: 0060929871
17: 0060930535
18: 0060932759
19: 0060934417
20: 0060938455
21: 0060958022
22: 0060959037
23: 0060976845
24: 0060977493
25: 0060987103
26: 0060987529
27: 0060987561
28: 006099486X
29: 0061009059
30: 006101351X
31: 0061015725
32: 0061020710
33: 0061097101
34: 0061097314
35: 0062502182
36: 0064400557
37: 0064407667
38: 0064407675
39: 0064472272
40: 0066214122
41: 0070212570
42: 0091867770
43: 0099771519
44: 0140042598
45: 0140067477
46: 0140092323
47: 0140119906
48: 0140177396
49: 0140179836
50: 014023313X
51: 0140244824
52: 014025448X
53: 0140254544
54: 014028009X
55: 0140293248
56: 014029628X
57: 0140298479
58: 014100018X
59: 0141000198
60: 0142000205
61: 0142001430
62: 0142001740
63: 0142001805
64: 0142004235
65: 0151008116
66: 0156027321
67: 0156628708
68: 0312144075
69: 0312195516
70: 0312243022
71: 0312265859
72: 0312265867
73: 0312278586
74: 0312282990
75: 0312291639
76: 0312305060
77: 0312421273
78: 0312422156
79: 031242227X
80: 0312924585
81: 0312924801
82: 0312966091
83: 0312966806
84: 0312966970
85: 0312971125
86: 0312971346
87: 0312974256
88: 0312976275
89: 0312980140
90: 0312980159
91: 0312982518
92: 0312983271
93: 031298328X
94: 0312983824
95: 0312983867
96: 0312990456
97: 0312995423
98: 0316089699
99: 0316096199
100: 0316168688
101: 0316182540
102: 0316284955
103: 0316569321
104: 0316601950
105: 0316602051
106: 0316602906
107: 0316666009
108: 0316666343
109: 0316693006
110: 0316693200
111: 0316693235
112: 0316769487
113: 0316776963
114: 0316777722
115: 0316777730
116: 0316780375
117: 0316781010
118: 0316781142
119: 0316781266
120: 0316782505
121: 0316788228
122: 0316789089
123: 0316899984
124: 0316969443
125: 0316969680
126: 0330332775
127: 0345313860
128: 0345337662
129: 0345339681
130: 0345339703
131: 0345339711
132: 0345339738
133: 0345342968
134: 0345348036
135: 0345348109
136: 0345350499
137: 0345351525
138: 0345353145
139: 0345354613
140: 0345361792
141: 034536676X
142: 0345368754
143: 0345369947
144: 0345370775
145: 0345370805
146: 0345378482
147: 0345378490
148: 0345380371
149: 034538184X
150: 0345384350
151: 0345384369
152: 0345384466
153: 034538475X
154: 0345386108
155: 0345387651
156: 0345391055
157: 0345391802
158: 034539657X
159: 0345397819
160: 0345402871
161: 034540288X
162: 0345404114
163: 0345413350
164: 0345413873
165: 0345413881
166: 034541389X
167: 0345413903
168: 0345417623
169: 0345422317
170: 0345424719
171: 0345427637
172: 034543479X
173: 0345435168
174: 0345436911
175: 0345438329
176: 0345439104
177: 0345441036
178: 0345443284
179: 0345444884
180: 0345445848
181: 0345446860
182: 0345447840
183: 0345465083
184: 0373218036
185: 0373218192
186: 0373218397
187: 0373218400
188: 0373484003
189: 0373825013
190: 0374129983
191: 0374199698
192: 0375412824
193: 0375502238
194: 0375506039
195: 0375700757
196: 0375702709
197: 0375703055
198: 0375703063
199: 0375703861
200: 037570504X
201: 0375705856
202: 0375706410
203: 0375706771
204: 0375707972
205: 0375725784
206: 0375726403
207: 0375727132
208: 0375727345
209: 0375760911
210: 0380002930
211: 0380012863
212: 0380018179
213: 0380710218
214: 0380717018
215: 0380718332
216: 0380718340
217: 0380727501
218: 0380730138
219: 0380730847
220: 0380731851
221: 0380789019
222: 0380789035
223: 038079487X
224: 0380813815
225: 0380814021
226: 0380820293
227: 038082101X
228: 0380977788
229: 0385265700
230: 038529929X
231: 038533334X
232: 0385335482
233: 0385335830
234: 0385335881
235: 0385336179
236: 0385420161
237: 038542017X
238: 038542471X
239: 0385424728
240: 0385424736
241: 0385472951
242: 0385474016
243: 0385475721
244: 0385479565
245: 0385484518
246: 0385486804
247: 038549081X
248: 0385490992
249: 0385492081
250: 0385493800
251: 0385497466
252: 0385498802
253: 038550120X
254: 0385502532
255: 0385503822
256: 0385503954
257: 0385504209
258: 0385505833
259: 0385508042
260: 0385508417
261: 038550926X
262: 0385510438
263: 0385511612
264: 0385512104
265: 0385720106
266: 0385720955
267: 0385721420
268: 038572179X
269: 0385722206
270: 0385730586
271: 0394820371
272: 039592720X
273: 0399144463
274: 0399145087
275: 0399146253
276: 0399146431
277: 0399147195
278: 0399149155
279: 0399149325
280: 0399150897
281: 0399501487
282: 0425083837
283: 0425092917
284: 042510107X
285: 0425107469
286: 0425109720
287: 0425115801
288: 0425116840
289: 042511774X
290: 0425122123
291: 0425124347
292: 0425132951
293: 0425133540
294: 042513525X
295: 0425136981
296: 042513699X
297: 0425143325
298: 0425144429
299: 0425147363
300: 0425147517
301: 0425147584
302: 0425147622
303: 0425150143
304: 0425151867
305: 0425152251
306: 0425153975
307: 0425154092
308: 0425155404
309: 0425158616
310: 0425158632
311: 042516098X
312: 0425162443
313: 0425163407
314: 0425167313
315: 0425169863
316: 0425170349
317: 0425172546
318: 0425175405
319: 0425177173
320: 0425178102
321: 0425178765
322: 0425180638
323: 0425180964
324: 0425182878
325: 0425182908
326: 0425184226
327: 0425185710
328: 042518630X
329: 0425189864
330: 0425192725
331: 0425192733
332: 0439064864
333: 0439064872
334: 0439136350
335: 0439136369
336: 0439139597
337: 0439139600
338: 043935806X
339: 043936213X
340: 0440122090
341: 0440180295
342: 0440202043
343: 0440206154
344: 0440211263
345: 044021145X
346: 0440211727
347: 0440212561
348: 0440213290
349: 0440213525
350: 0440214041
351: 0440215625
352: 0440218535
353: 0440219078
354: 0440220602
355: 044022103X
356: 0440221471
357: 0440221595
358: 044022165X
359: 0440222656
360: 0440223202
361: 0440224594
362: 0440224624
363: 0440224675
364: 0440224764
365: 0440225701
366: 0440226104
367: 0440226430
368: 0440234743
369: 0440235162
370: 0440235596
371: 0440236673
372: 0440236703
373: 044023722X
374: 0440241073
375: 0440241537
376: 0440414806
377: 0440498058
378: 0440998050
379: 0441003257
380: 0441172717
381: 0441569595
382: 0441790348
383: 0446310786
384: 0446359866
385: 0446360589
386: 0446363251
387: 0446364193
388: 0446364800
389: 0446365505
390: 0446394521
391: 044651652X
392: 0446516538
393: 044651862X
394: 0446519138
395: 0446520802
396: 0446525502
397: 0446530522
398: 0446531332
399: 0446532231
400: 0446601241
401: 0446602620
402: 0446603589
403: 0446603716
404: 0446603929
405: 0446604666
406: 0446604801
407: 0446604844
408: 0446605239
409: 0446605409
410: 0446605484
411: 0446606189
412: 0446606324
413: 0446606812
414: 0446607193
415: 0446607657
416: 0446607711
417: 0446608815
418: 0446608890
419: 0446608955
420: 0446609323
421: 0446609404
422: 0446610038
423: 0446610100
424: 0446610399
425: 0446610542
426: 0446611085
427: 0446611212
428: 0446611778
429: 0446611808
430: 0446611867
431: 0446612545
432: 0446612790
433: 0446613266
434: 0446670251
435: 0446672211
436: 0446675059
437: 0446679593
438: 0449003787
439: 0449003795
440: 0449005615
441: 0449006522
442: 0449134482
443: 0449203794
444: 0449212602
445: 0449219364
446: 0449219461
447: 0449221482
448: 0449221490
449: 0449221504
450: 0449221512
451: 0449223604
452: 0449223612
453: 0449227421
454: 0449907481
455: 0449910237
456: 0449912558
457: 0451151259
458: 0451153553
459: 0451156609
460: 0451160525
461: 0451163966
462: 0451166892
463: 0451167317
464: 0451169522
465: 0451169530
466: 0451170385
467: 0451172817
468: 0451176464
469: 0451177096
470: 0451180232
471: 0451181379
472: 0451183665
473: 0451184963
474: 0451186362
475: 0451188454
476: 0451188462
477: 0451191145
478: 0451197747
479: 0451202341
480: 0451203771
481: 0451203895
482: 0451204530
483: 0451205421
484: 0451206525
485: 0451207521
486: 0451524934
487: 0451526341
488: 0452260116
489: 0452264464
490: 0452268060
491: 0452269571
492: 0452280621
493: 0452282152
494: 0452282195
495: 0452282829
496: 0452283205
497: 0452284449
498: 051511992X
499: 0515120618
500: 0515121843
501: 0515122734
502: 051512317X
503: 0515124214
504: 051512608X
505: 0515126772
506: 0515127833
507: 0515128546
508: 0515128554
509: 0515130389
510: 0515130966
511: 0515131229
512: 0515132020
513: 0515132187
514: 051513287X
515: 0515133302
516: 0515133973
517: 0515135062
518: 0515135739
519: 051513628X
520: 0515136379
521: 0515136530
522: 0525947647
523: 0552124753
524: 0552998486
525: 0553208845
526: 055321313X
527: 0553213148
528: 0553250426
529: 0553250531
530: 0553260111
531: 0553268880
532: 0553271636
533: 0553272535
534: 0553273914
535: 0553274295
536: 0553275976
537: 0553277472
538: 0553279378
539: 0553279556
540: 0553279912
541: 0553280341
542: 0553280368
543: 0553282476
544: 0553284789
545: 0553289411
546: 0553292722
547: 0553296981
548: 0553375407
549: 0553560247
550: 055356160X
551: 0553561618
552: 055356451X
553: 0553564528
554: 0553569155
555: 0553569910
556: 0553571818
557: 0553571885
558: 0553572326
559: 0553572997
560: 0553573136
561: 0553574574
562: 0553576801
563: 0553578022
564: 0553578693
565: 0553579606
566: 0553579754
567: 0553580191
568: 0553580221
569: 0553580930
570: 0553581554
571: 0553582127
572: 0553582135
573: 0553582143
574: 0553582526
575: 0553582747
576: 0553582755
577: 0590353403
578: 059035342X
579: 0609610597
580: 0609804138
581: 0670865796
582: 0670880728
583: 067088300X
584: 0670892963
585: 0670894184
586: 067100042X
587: 0671001795
588: 0671003755
589: 0671004107
590: 0671004530
591: 0671004549
592: 0671004565
593: 0671004573
594: 0671011367
595: 0671014196
596: 067101420X
597: 0671021001
598: 067102423X
599: 0671024248
600: 0671027344
601: 0671027360
602: 0671027387
603: 0671027662
604: 0671028375
605: 0671038184
606: 0671041789
607: 0671042262
608: 0671042572
609: 0671042858
610: 0671510053
611: 0671568175
612: 0671617028
613: 0671673688
614: 0671683993
615: 0671693816
616: 0671708635
617: 0671727796
618: 0671758896
619: 0671793489
620: 0671867091
621: 0671867113
622: 0671867156
623: 0671867172
624: 0671880314
625: 0671888587
626: 0671894455
627: 0679429220
628: 0679444815
629: 0679446486
630: 0679731148
631: 0679731725
632: 0679734775
633: 0679735771
634: 0679735909
635: 0679744398
636: 0679745203
637: 0679746048
638: 0679751521
639: 067976397X
640: 067976402X
641: 0679772677
642: 0679781587
643: 0684801523
644: 0684833395
645: 068484267X
646: 068484477X
647: 0684848783
648: 0684865742
649: 0684867621
650: 0684872153
651: 0684874350
652: 0688177751
653: 0688177859
654: 0743203631
655: 0743206045
656: 0743211375
657: 0743211383
658: 0743224574
659: 0743225406
660: 0743227441
661: 0743237188
662: 0743411250
663: 0743412028
664: 0743418174
665: 0743418204
666: 0743436210
667: 074343627X
668: 0743437640
669: 0743437802
670: 0743457358
671: 0743460529
672: 0743467523
673: 0749397543
674: 0767900383
675: 0767902521
676: 0767905180
677: 0767905385
678: 076790592X
679: 0767915054
680: 0786817070
681: 0786866586
682: 0786867647
683: 0786868716
684: 0786881852
685: 0786885688
686: 0786889020
687: 0802130208
688: 080213825X
689: 0802139256
690: 080410526X
691: 0804105820
692: 0804106304
693: 080410753X
694: 080411109X
695: 0804111359
696: 0804114986
697: 0804115761
698: 080411868X
699: 080411918X
700: 080411935X
701: 0805063897
702: 0812511816
703: 0812550706
704: 0842329129
705: 0842329218
706: 0842329242
707: 0842329250
708: 0842342702
709: 0871136791
710: 089480829X
711: 0971880107
712: 140003065X
713: 1400031346
714: 1400031354
715: 1400031362
716: 1400034779
717: 1551668998
718: 155874262X
719: 1558743669
720: 1558744150
721: 1558744630
722: 1558745157
723: 1559029838
724: 1573225517
725: 1573225789
726: 1573227331
727: 1573229326
728: 1573229571
729: 1592400876
730: 1878424319

In [144]:
# create a map of indices to movie titles

# 0. left-join books to ratings and remove those with no match (title)
# 1. set index to isbn on the df_movies
# 2. take the index of df_pivot (list of isbn's) and put it into df_movies.loc[...]
# 3. enumerate through 2

isbn_list = df_pivot.index
df_books_indexed = df_books.set_index('isbn')
df_books_indexed.head()

,title,author
isbn,,
0195153448,Classical Mythology,Mark P. O. Morford
0002005018,Clara Callan,Richard Bruce Wright
0060973129,Decision in Normandy,Carlo D'Este
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
0393045218,The Mummies of Urumchi,E. J. W. Barber

In [139]:
df_books_indexed.loc[isbn_list]

KeyError: "['0091867770', '0552124753', '0679781587', '0749397543'] not in index"

In [143]:
df_books_indexed.loc['0091867770']

KeyError: '0091867770'

In [137]:
df_pivot.loc['0091867770']

user
254       0.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    0.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: 0091867770, Length: 888, dtype: float32

In [286]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):
#     isbn = get_isbn(book)
    # get index of the row in our matrix
    index = get_index(book)
    print(f'Getting recommendations for {book} (index {index})')

    # get the row in the matrix
    matrix_row = ratings_matrix[index]
    
    # get recommendations
    distances, indices = model.kneighbors(matrix_row, n_neighbors=6)
    
    recommended_books = []
    
    # loop through results and assemble in the format ["book title", distance]
    for (d, i) in zip(distances[0][1:], indices[0][1:]):
        recommended_books.append([get_name(i), d])
        
    recommended_books.reverse()
    
    return [book, recommended_books]

## Testing

In [287]:
get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")

Getting recommendations for Where the Heart Is (Oprah's Book Club (Paperback)) (index 435)

["Where the Heart Is (Oprah's Book Club (Paperback))",
 [["I'll Be Seeing You", 0.8016211],
  ['The Weight of Water', 0.77085835],
  ['The Surgeon', 0.7699411],
  ['I Know This Much Is True', 0.7677075],
  ['The Lovely Bones: A Novel', 0.7234864]]]

In [291]:
get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")

Getting recommendations for The Queen of the Damned (Vampire Chronicles (Paperback)) (index 137)

['The Queen of the Damned (Vampire Chronicles (Paperback))',
 [['Catch 22', 0.7939835],
  ['The Witching Hour (Lives of the Mayfair Witches)', 0.74486566],
  ['Interview with the Vampire', 0.73450685],
  ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.53763384],
  ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412]]]

In [289]:
get_recommends('The Golden Compass (His Dark Materials, Book 1)')

Getting recommendations for The Golden Compass (His Dark Materials, Book 1) (index 163)

['The Golden Compass (His Dark Materials, Book 1)',
 [['Moo', 0.83690083],
  ['The Door to December', 0.8296318],
  ["The Princess Bride: S Morgenstern's Classic Tale of True Love and High Adventure",
   0.81454146],
  ['Lake Wobegon days', 0.8100381],
  ['Me Talk Pretty One Day', 0.7856666]]]

In [237]:
get_index('0345413350')

163

In [288]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    print('0th element is incorrect')
    test_pass = False
  recommended_books = ["I'll Be Seeing You", "The Weight of Water", "The Surgeon", "I Know This Much Is True", "The Lovely Bones: A Novel"]
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77, 0.72]
  for i, (book, distance) in enumerate(zip(recommended_books, recommended_books_dist)):
    if recommends[1][i][0] != book:
      print(f'Book {i} should be {book}, but found {recommends[1][i][0]}')
      test_pass = False
      break
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      print(f'Distance {i} should be {distance}, but found {recommends[1][i][1]}')
      test_pass = False
      break
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

Getting recommendations for Where the Heart Is (Oprah's Book Club (Paperback)) (index 435)
["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7234864]]]
Getting recommendations for Where the Heart Is (Oprah's Book Club (Paperback)) (index 435)
You passed the challenge! 🎉🎉🎉🎉🎉